parameters:
    locale: en_GB
    partnermarketing_translation:
        base_language: %locale%
        supported_languages:
            # To add a language, add the key returned by PHP's 'Locale::getDisplayLanguages()'.
            - %locale%
        one_sky:
            project_id: xxx
            api_key:    xxx
            api_secret: xxx
